/node_modules/
/dist/
/coverage/
/*.tsbuildinfo
.vscode/
*.code-workspace
/.husky/_/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.env
.env.*.local
.DS_Store
Thumbs.db
*.tsbuildinfo
/nyc_output/
/junit.xml
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.fseventsd/
/.Trashes
/dump_project.sh
/project-dump.txt
*.vsix